<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dstz.auth.core.mapper.SysApplicationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="SysApplication" type="com.dstz.auth.core.entity.SysApplication">
        <id column="id_" property="id"/>
        <result column="name_" property="name"/>
        <result column="code_" property="code"/>
        <result column="secret_" property="secret"/>
        <result column="resource_ids_" property="resourceIds"/>
        <result column="scope_" property="scope"/>
        <result column="refresh_token_validity_" property="refreshTokenValidity"/>
        <result column="access_token_validity_" property="accessTokenValidity"/>
        <result column="grant_types_" property="grantTypes"/>
        <result column="autoapprove_" property="autoapprove"/>
        <result column="authorities_" property="authorities"/>
        <result column="url_" property="url"/>
        <result column="redirect_uri_" property="redirectUri"/>
        <result column="open_type_" property="openType"/>
        <result column="enabled_" property="enabled"/>
        <result column="is_default_" property="isDefault"/>
        <result column="desc_" property="desc"/>
        <result column="config_" property="config"/>
        <result column="create_time_" property="createTime"/>
        <result column="create_by_" property="createBy"/>
        <result column="create_org_id_" property="createOrgId"/>
        <result column="update_time_" property="updateTime"/>
        <result column="update_by_" property="updateBy"/>
        <result column="updater_" property="updater"/>
        <result column="app_type_" property="appType"/>
    </resultMap>

    <select id="query" parameterType="java.util.Map" resultMap="SysApplication">
        SELECT id_, name_, code_, secret_, refresh_token_validity_, access_token_validity_, url_, redirect_uri_,
        open_type_, enabled_, is_default_, desc_, config_, create_time_, create_by_, create_org_id_, update_time_,
        updater_, update_by_,resource_ids_ ,scope_,grant_types_,autoapprove_,authorities_ ,app_type_  FROM sys_application
        <where>
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
        <if test="orderBySql==null">
            ORDER BY id_ DESC
        </if>
    </select>


    <update id="updNoDefault" parameterType="com.dstz.auth.core.entity.SysApplication">
		UPDATE sys_application SET is_default_=0
	</update>


    <select id="isExist" resultType="java.lang.Integer" parameterType="com.dstz.auth.core.entity.SysApplication">
        SELECT count(1) FROM sys_application WHERE code_=#{code}
        <if test="id!=null">
            and ID_!=#{id}
        </if>
    </select>

    <select id="getByAlias" parameterType="java.lang.String" resultMap="SysApplication">
		SELECT * FROM sys_application
		WHERE
		code_=#{code}
	</select>
</mapper>
